html, body, body > #app, body > #app > div{
  height: 100%;
  width: 100%;
}

.overLeaflet /*, .application, .application:not(#mapid) */{
  z-index: 1010 !important
}

.overEverything {
  z-index: 1050 !important
}

.base { /*temporary until styles is set */
  background-color: white;
}

.closure {
  background-color: transparent;
  vertical-align: top;
}

#selected {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 90%;
  display: block;
  z-index: 2000;
}

#sidepanel-heading > h4[data-v-c81d4ac2] {
  float: left;
  color: #fff0f0;
  font-size: 28px;
}

.reporting, .issuesDiv, .commendationsDiv, .bikelanesDiv, .trafficDiv, .otherDiv, .closure {
  background-color: #426FC5;
  border: 2px solid #426FC5;
  color: #2f5398;
}

.issues {
  color: #2f5398;
}
.commendations {
  color: #2f5398;
}
.other {
  text-align: center;
  color:#2f5398;
}

.button {
  vertical-align: middle;
  display: inline-block;
  margin: 1%;
  margin-left: 1%;
  /* border-radius: 10px; */
  padding: 2px;
  font-size: 20px;
  /* font-weight: bold; */
}

.twoWide {
  margin-left: 2%;
  margin-right: 2%;
  width: 45%;
  font-size: x-large;
  color: white;
  font-family: sans-serif;
  height: 70%;
  font-weight: bold;
}

.fourWide {
  width: 22.5%;
  margin-top: 20px;
  line-height: 25px;
  color: #fcfcfc;
}

#inputBox {
  vertical-align: middle;
  padding-left: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 68.5%;
  height: 80%;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  color: #4293d3;
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .button {
    vertical-align: middle;
    display:inline-block;
    margin: 1%;
    margin-left:2.5%;
    border-radius: 10px;
    border: none;
    font-size: 2em;
    font-weight: bold;
  }

  .fourWide {
    width: 45%;
    height: 43.5%;
    font-size: 1.5em;
  }

  #inputBox {
    margin-top: 1.5%;
    width: 95%;
    height: 70%
  }

  .otherDiv {
    text-align:center;
  }
  .other {
    width: 50%;
    height: 22.5%
  }
  #active {
    font-size: 1.5em;
  }

  #active {
    top: 75%;
    position: absolute;
    height: 5%;
    width: 10%;
    left: 90%;
    display: block;
    z-index: 2000;
    font-size: 2.5em;
    text-align:center;
    line-height: 0px;
    font-weight: bold;
  }
  @keyframes jumpIn {
    0% { height: 0; }
    100% { height: 10%; }
  }
}
