html, body, body > div, body > div > div{
  height: 100%;
  width: 100%;
}

.overLeaflet /*, .application, .application:not(#mapid) */{
  z-index: 1010 !important
}

.overEverything {
  z-index: 1050 !important
}

.base { /*temporary until styles is set */
  background-color: white;
}

#selected {
  position: absolute;
  border-top: 2px solid grey;
  height: 30%;
  width: 100%;
  top: 70%;
  display: block;
  z-index: 2000;
}

.reporting, .issues, .commendations {display: none}

#reportIssue {
  background: radial-gradient(#777777, #AA5555);
}
#reportCommendation {background: radial-gradient(#777777, #55AA55);}

.reporting {background: linear-gradient(0deg, #999999, #444444);}
.issues {background-color: #AA5555;}
.commendations {background-color: #55AA55;}

.button {
  margin: 1%;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  display:inline-block;
  top: 50%;
}

.reporting .button {
  margin-left: 2%;
  margin-right: 2%;
  width: 45%;
  height: 90%;
}

.issues .button, .commendations .button {
  width: 22.5%;
  height: 90%;
  display: inline-block;
}

* {
  margin: 0px;
  padding: 0px;
}
