html, body, body > div, body > div > div{
  height: 100%;
  width: 100%;
}

.overLeaflet /*, .application, .application:not(#mapid) */{
  z-index: 1010 !important
}

.overEverything {
  z-index: 1050 !important
}

.base { /*temporary until styles is set */
  background-color: white;
}

#active {
  position: absolute;
  border-radius: 10px 0px 0px 0px;
  height: 5%;
  width: 10%;
  top: 70%;
  left: 90%;
  display: block;
  z-index: 2000;
  font-size: 2.5em;
  text-align:center;
  line-height: 0px;
  font-weight: bold;
}

#selected {
  position: absolute;
  height: 25%;
  width: 100%;
  top: 75%;
  display: block;
  z-index: 2000;
}

.reporting, .issuesDiv, .commendationsDiv, .bikelanesDiv, .trafficDiv, .otherDiv, .closure {
  display: none; 
  background: linear-gradient(0deg, #BBBBBB, grey);
  box-shadow: inset -5px -5px 10px rgba(0,0,0,0.3), inset 5px 5px 10px rgba(255,255,255,0.3);
}

.issues {
  background-color: #AA5555; 
  color: #772222;
}
.commendations {
  background-color: #55AA55; 
  color: #227722;
}
.other {
  text-align: center;
  background-color: #888888; 
  color: #444444
}

.issues, .commendations, .other, .closure {box-shadow: 5px 5px 5px grey, inset -5px -5px 10px rgba(0,0,0,0.3), inset 5px 5px 10px rgba(255,255,255,0.3);
}

.button {
    vertical-align: middle;
    display:inline-block;
    margin: 1%;
    margin-left:1%;
    border-radius: 10px;
    border: 2px solid blue;
    font-size: 2em;
    font-weight: bold;
  }

.twoWide {
  margin-left: 2%;
  margin-right: 2%;
  width: 45%;
  height: 90%;
}

.fourWide {
  width: 22.5%;
  height: 90%;
}

#inputBox {
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 1%;
  width: 68.5%;
  height: 95%
  border: solid 2px grey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background-color: #CCCCCC;
  color: #444444;
}

* {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .button {
    vertical-align: middle;
    display:inline-block;
    margin: 1%;
    margin-left:2.5%;
    border-radius: 10px;
    border: none;
    font-size: 2em;
    font-weight: bold;
  }

  .fourWide {
    width: 45%;
    height: 43.5%;
    font-size: 1.5em;
  }

  #inputBox {
    margin-top: 1.5%;
    width: 95%;
    height: 70%
  }

  .otherDiv {
    text-align:center;
  }
  .other { 
    width: 50%;
    height: 22.5%
  }
  #active {
    font-size: 1.5em;
  }

}